apiVersion: v1
name: ingress-utils
version: 1.0.0-alpha0
displayName:
  zh: KubeSphere 应用路由工具
  en: KubeSphere Ingress Utils
description:
  zh: |-
    KubeSphere 应用路由工具是为应用路由提供多项实用扩展能力的一款扩展组件，帮助企业强化平台中应用路由的全局管理。
  en: |-
    KubeSphere Ingress Utils is an extension component that provides multiple practical extension capabilities for ingress, helping enterprises strengthen the global management of ingress in the platform.
category: networking
keywords:
  - kubesphere
  - ingress
  - reusable validation
home: https://kubesphere.com.cn/
sources: []
kubeVersion: '>=1.19.0-0'
ksVersion: '>=4.0.0-0'
maintainers:
  - name: KubeSphere
    email: kubesphere@yunify.com
provider:
  zh:
    name: 北京青云科技股份有限公司
    email: kubesphere@yunify.com
    url: https://kubesphere.com.cn/
  en:
    name: QingCloud Technologies
    email: kubesphere@yunify.com
    url: https://kubesphere.co/
staticFileDirectory: static
icon: ./static/favicon.svg
dependencies:
  - name: frontend
    tags:
      - extension
  - name: backend
    tags:
      - agent
installationMode: Multicluster
externalDependencies:
 - name: gateway
   type: extension
   version: ">= 1.0.0"
   required: true
images:
  - docker.io/kubesphere/ingress-utils-controller-manager:v0.1.0
docs: https://docs.kubesphere.com.cn/
