global:
  imageRegistry: docker.io
  tag: ""
  imagePullSecrets: []

backend:
  controller:
    # TODO: 开发测试环境使用的配置，发版本时需要修改
    image:
      registry: ""
      repository: kubespherehub/ingress-utils-controller-manager
      tag: "v1.0.0-alpha.0"
      pullPolicy: Always
    resources:
      limits:
        cpu: 1
        memory: 1000Mi
      requests:
        cpu: 30m
        memory: 50Mi
